.cover {
  background: url('assets/zoe&alex.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: table;
}
body {
  background: url('assets/paper.png')
}

/* ==== BYLINE ==== */

.byline h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 4.125rem;
  color: #bd806e;
  line-height: 1.5rem;
  letter-spacing: .1rem;
  margin-bottom: .5rem;
  text-transform: uppercase;
  text-align: center;
}
.byline h4 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.625rem;
  color: #ffffff;
  line-height: 1.5rem;
}
.byline {
  background-color: hsla(0, 0%, 10%, .7);
  border-radius: 5px;
  padding: 0 .625rem;
  height: 50%;
  width: 40%;
  max-width: calc(100vw - 10px);
  position: absolute;
  top: 35%;
  left: 30%;
}

/* ==== BYLINE NAVIGATION ==== */

.tagline {
  position: absolute;
  top: 5%;
  left: 10%;
  margin: 1rem;
}
.sign {
  color: #bd806e;
  position: absolute;
  width: 50%;
  top: 20%;
  left: 25%;
}
.names {
  position: absolute;
  top: 50%;
  left: 10%;
}
.date {
  position: absolute;
  top: 80%;
  left: 30%;
}

/* ====  LOCATIONS  ==== */


.locations h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 2.125rem;
  color: rgb(77, 77, 77);
  line-height: 1.5rem;
  letter-spacing: .1rem;
  margin-top: 5%;
  margin-bottom: .5rem;
  text-transform: uppercase;
  text-align: center;
}
.locations h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.625rem;
  color: rgb(77, 77, 77);
}
.locations h5 {
 font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  color: rgb(77, 77, 77); 
}

/* ==== LOCATIONS NAVIGATION ==== */

#rings {
  width: 12%;
  position: absolute;
  left: 15%;
}
#photo {
  width: 12%;
  position: absolute;
  left: 45%;
}
#cake {
  width: 12%;
  position: absolute;
  left: 75%;
}

/* ==== PROGRAM/SECTION NAVIGATION ==== */

section {
  background-color: #999999;
  padding: 1rem;
  height: 50%;
  width: 100%;
  position: absolute;
  top: 170%;
}
section h1 {
  font-family: 'Great Vibes', cursive;
  color: #6f582a;
  font-size: 2.5rem;
  text-align: center;
}
section p {
  font-family: 'Libre Baskerville', serif;;
  color: #6f582a;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5rem;
}
section ul, li {
  font-family: 'Mulish', sans-serif;
  color: #6f582a;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5rem;
  margin: 1rem;
  left: 45%;
  
}
#container {
  position: relative;
  top: 14%;
}

/* ==== GIFTS NAVIGATION ==== */

.gifts {
  position: absolute;
  width: 23%;
  height: 23%;
  top: 225%;
  left: 40%;
}
 .gifts h1 {
  font-family: 'Great Vibes', cursive;
  color: #6f582a;
  font-size: 3.125rem;
  color: rgb(77, 77, 77);
  text-align: center;
}
 .gifts h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.25rem;
  color: rgb(77, 77, 77);
  text-align: center;
}
#gifts {
  width: 40%;
  position: relative;
  left: 30%;
}

/* ==== Questions & Answers NAVIGATION ==== */

#container2 {
  background-color: #999999;
  margin: 0px;
  padding: 1rem;
  height: 95%;
  width: 100%;
  position: absolute;
  top: 280%;
}
#container2 h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3.125rem;
  margin: 1rem;
  color: #6f582a;
  text-align: center;
}
#container2 h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  margin: 1rem;
  color: #6f582a;
  text-align: center;
}
#container2 h4, h5 {
  font-family: 'Mulish', sans-serif;
  color: #6f582a;
  font-size: 1.15rem;
  margin: .5rem;
  text-align: left;
  letter-spacing: inherit;
  line-height: 1.5rem;
}
#box-1 {
  height: 75%;
  width: 25%;
  position:absolute;
  top: 20%;
  left: 3%;
}
#box-2 {
  height: 75%;
  width: 25%;
  position: absolute;
  left: 37%;
  top: 20%;
}
#box-3 {
  height: 75%;
  width: 25%;
  position: absolute;
  left: 70%;
  top: 20%;
}
a {
	color: #b8452e;
	text-decoration: none;
}

a:hover {
	color: #eda087;
}

/* ==== CONTACT NAVIGATION ==== */

#contact {
  height: 35%;
  width: 50%;
  position: absolute;
  top: 385%;
  left: 25%;
}
#contact h1 {
  font-family: 'Great Vibes', cursive;
  color: #6f582a;
  font-size: 3.125rem;
  text-align: center;
}
#contact h3 {
  font-family: 'Libre Baskerville', serif;
  color: #6f582a;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5rem;
  margin: 1rem;
  letter-spacing: inherit;
  line-height: 3rem;
}

/* ==== FOOTER NAVIGATION ==== */

footer {
  background-color: #999999;;
  margin: 0px;
  padding: .5rem 1rem;
  height: 10vh;
  width: 100%;
  position: absolute;
  top: 425%;
}
footer p {
  font-family: 'Mulish', sans-serif;
  color: antiquewhite;
  text-align: center;
  margin: 1.5rem;
}