.cover {
  background: url('assets/zoe&alex.jpg') no-repeat center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: url('assets/paper2.jpg')
}


/* ==== BYLINE ==== */


.byline h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3.5rem;
  color: #bd806e;
  text-align: center;
}
.byline h4 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.625rem;
  color: #ffffff;
  line-height: 1.5rem;
  text-align: center;
  margin: 1rem;
}
.byline {
  background-color: hsla(0, 0%, 10%, .7);
  border-radius: 5px;
  padding: 0.625rem;
  height: 35%;
  width: 45%;
  max-width: calc(100vw - 10px);
}


/* ==== SIGN STILE ==== */


#sign {
  color: yellow;
  width: 40%;
}


/* === PLACES === */


#places h1 {
   font-family: 'Great Vibes', cursive;
   color: rgb(77, 77, 77);
   font-size: 3rem;
   text-align: center;
}
.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: .2rem;
  height: 15vh;
  color: rgb(77, 77, 77);
  width: 100vw;
}
.flex-container div {
  margin: .625rem;
  padding: 1.25rem;
  font-size: 1.5rem;
  width: 30vw;
}
#places-fotos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10vh;
  width: 100vw;
}
#places-fotos div {
  margin: .625rem;
  padding: .6rem;
  font-size: 1.5rem;
  width: 30vw;
}
#places-fotos img {
  width: 6.255rem;
  height: 6.25rem;
}
#places-locations {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}
#places-locations div {
  margin: .625rem;
  padding: 1.25rem;
  font-size: 1.5rem;
  width: 30vw;
}
#places-locations h5 {
 font-family: 'Libre Baskerville', serif;
  font-size: 1.1rem;
  color: rgb(77, 77, 77); 
}


/* ==== PROGRAM/SECTION NAVIGATION ==== */


.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-size: .2rem;
  height: 15vh;
  color: rgb(77, 77, 77);
  width: 100vw;
}
.flex-box div {
  margin: .625rem;
  padding: 1.25rem;
  font-size: 1.5rem;
  width: 30vw;
}
section {
  background-color: #999999;
  width: 100%;
}
section h2 {
  font-family: 'Great Vibes', cursive;
  color: #6f582a;
  font-size: 2.9rem;
  text-align: center;
}
section p {
  font-family: 'Libre Baskerville', serif;;
  color: #6f582a;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5rem;
}
section ul, li {
  font-family: 'Mulish', sans-serif;
  color: #6f582a;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  margin: 1rem;
}


/* ==== GIFTS NAVIGATION ==== */


 .gifts h1 {
  font-family: 'Great Vibes', cursive;
  color: #6f582a;
  font-size: 3.125rem;
  color: rgb(77, 77, 77);
  text-align: center;
}
 .gifts h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.25rem;
  color: rgb(77, 77, 77);
  text-align: center;
}
#gifts-foto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#gifts {
  width: 6.255rem;
  height: 6.255rem;
}


/* ==== QUESTION & ANSWERS NAVIGATION ==== */


#details {
  background-color: #999999;
  height: 95vh;
  width: 100vw;
}
.case {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}
.case div {
  margin: 1rem;
  width: 25vw;
  height: 10vh;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.5rem;
  margin: 1rem;
  color: #6f582a;
}
#details h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 3.125rem;
  margin: 1rem;
  color: #6f582a;
  text-align: center;
}
#details h4 {
  font-family: 'Mulish', sans-serif;
  color: #6f582a;
  font-size: 1rem;
  margin: .5rem;
  text-align: left;
  letter-spacing: inherit;
  line-height: 1.5rem;
  font-weight: bolder;
}
#details h6 {
  font-family: 'Mulish', sans-serif;
  color: #6f582a;
  font-size: 1rem;
  margin: .5rem;
  text-align: left;
  letter-spacing: inherit;
  line-height: 1.5rem;
}
a {
	color: #b8452e;
	text-decoration: none;
}

a:hover {
	color: #eea890;
}


/* ==== CONTACT NAVIGATION ==== */


#contact h1 {
  font-family: 'Great Vibes', cursive;
  color: #6f582a;
  font-size: 3.125rem;
  text-align: center;
}
#contact h3 {
  font-family: 'Libre Baskerville', serif;
  color: #6f582a;
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5rem;
  margin: 1rem;
  letter-spacing: inherit;
  line-height: 3rem;
}
#contact a {
	color: #b8452e;
	text-decoration: none;
}

#contact a:hover {
	color: #6e2811;
}


/* ==== FOOTER NAVIGATION ==== */


#made {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 8vh;
  background-color: #999999;
}
#made p {
  font-family: 'Mulish', sans-serif;
  color: antiquewhite;
  text-align: center;
}